<section{{ attributes }}>
  <p><em>
    {% trans %}
      {{ name }} attention level is {{ attention }}
    {% endtrans %}
  </em></p>

  <p>
  {% if attention <= 0 %}
    {% trans %}
      {{ name }} is very sad and lonely
    {% endtrans %}
  {% elseif attention <= 100 %}
    {% trans %}
      {{ name }} could use some lovin' from a special someone
    {% endtrans %}
  {% else %}
    {% trans %}
      {{ name }} is happy!
    {% endtrans %}
  {% endif %}
  </p>
</section>
